// reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

// colors
$PaleBlue: hsl(243, 100%, 93%);
$GrayishBlue: hsl(229, 7%, 55%);
$DarkBlue: hsl(228, 56%, 26%);
$VeryDarkBlue: hsl(229, 57%, 11%);

// mixins
@mixin media {
  @media (max-width: 576px) {
    & {
      width: 100%;
      padding: 0 2rem;
    }
  }
  @media (min-width: 577px) and (max-width: 767px) {
    & {
      width: 95%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    & {
      width: 90%;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    & {
      width: 85%;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    & {
      width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    & {
      width: 1320px;
    }
  }
}

// start
body {
  background-image: url(../images/bg-mobile.png);
  background-size: cover;
  @media (min-width: 767px) {
    & {
      background-image: url(../images/bg-desktop.png);
    }
  }
}
// containers
.container {
  @include media;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $GrayishBlue;
  @media (min-width: 767px) {
    & {
      flex-direction: row;
    }
  }
  .first {
    margin: 1rem 0;
    padding: 2rem;
    width: 100%;
    max-width: 576px;
    height: 180px;
    background-color: $DarkBlue;
    border: none;
    border-radius: 0.5rem 4rem 0.5rem 0.5rem;
    @media (min-width: 767px) {
      & {
        margin: 0 1rem;
      }
    }
    .logo {
      width: 10rem;
      img {
        width: 100%;
      }
    }
    .img-con {
      width: 12rem;
      margin-top: 1rem;

      img {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
  .second {
    margin: 1rem 0;
    padding: 2rem;
    width: 100%;
    max-width: 576px;
    height: 180px;
    background-color: $DarkBlue;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    @media (min-width: 767px) {
      & {
        margin: 0 1rem;
      }
    }
    span {
      color: $PaleBlue;
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1rem;
      text-transform: capitalize;
    }
    .progress {
      width: 100%;
      height: 1.5rem;
      background-color: $VeryDarkBlue;
      border-radius: 1.5rem;
      margin: 1rem 0;
      padding: 0.2rem;
      span {
        background-image: linear-gradient(
          to left,
          hsl(335, 100%, 65%),
          hsl(6, 100%, 80%)
        );
        width: 70%;
        height: 100%;
        border-radius: 1.5rem;
        float: left;
      }
    }
    .gb {
      span:last-child {
        float: right;
      }
    }
  }
  .flow {
    position: absolute;
    bottom: calc(-25% - 1.5rem);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12rem;
    height: 4rem;
    padding-top: 0.7rem;
    border-radius: 0.5rem;
    background-color: #dddbff;
    text-align: center;
    h2 {
      font-size: 1rem;
      text-transform: uppercase;
      span {
        color: $VeryDarkBlue;
        font-size: 2rem;
      }
    }
  }
}