/* render Elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* container setup start */
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* start header */
header {
  width: 100%;
  background-image: url(../images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
}

/* nav bar */
header .nav-bar {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-bar .nav__img {
  margin: 1rem 0;
  width: 45%;
  max-width: 200px;
  height: 100%;
}

.nav-bar .nav--button {
  padding: 1rem;
  width: 30%;
  max-width: 150px;
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  font-weight: bold;
  text-transform: capitalize;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0 5px hsl(209deg 11% 55% / 44%);
  cursor: pointer;
  transition: .3s;
}

.nav-bar .nav--button:active {
  transform: translate(1px, 1px);
}

.nav-bar .nav--button:hover {
  color: hsl(209deg 11% 55% / 44%);
}

/* main content */
header .main-content {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  header .main-content {
    flex-direction: row;
  }
}

/* content sec */
.main-content .content {
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}

@media (min-width: 768px) {
  .main-content .content {
    margin: 0;
    width: 45%;
    text-align: left;
  }
}

.main-content .content .content__title {
  font-weight: bold;
  text-transform: capitalize;
  color: hsl(192, 100%, 9%);
}

.main-content .content .content__descripe {
  margin: 1.5rem 0;
  line-height: 1.6;
  color: hsl(208, 11%, 55%);
}

.main-content .content .content--button {
  padding: 1rem;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.main-content .content .content--button:hover {
  background-color: hsla(322.2, 100%, 66.1%, 0.66);
}

/* img sec */
.main-content .img-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .main-content .img-container {
    width: 45%;
  }
}

.main-content .img-container .img {
  width: 80%;
  height: 100%;
}

@media (min-width: 768px) {
  .main-content .img-container .img {
    width: 100%;
  }
}

/* end header */

/* start main */
main section {
  margin: 3rem 0;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  border-radius: 2rem;
  box-shadow: 0 0 5px hsl(209deg 11% 55% / 44%);
}

section:nth-of-type(2) {
  flex-direction: column;
}

@media (min-width: 768px) {

  main section,
  section:nth-of-type(2) {
    flex-direction: row;
    justify-content: space-between;
  }
}

section .content {
  margin-top: 2rem;
  width: 70%;
  text-align: center;
}

@media (min-width: 768px) {
  section .content {
    margin: 0;
    width: 45%;
    text-align: left;
  }
}

.content .content__title {
  margin-bottom: 1rem;
  color: hsl(192, 100%, 9%);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.content .content__descripe {
  color: hsl(208, 11%, 55%);
  word-break: break-all;
  line-height: 1.6;
}

section .img-cont {
  width: 90%;
}

@media (min-width: 768px) {
  section .img-cont {
    width: 45%;
  }
}

.img-cont img {
  width: 100%;
  height: 100%;
}

/* end main */

/* start footer */
footer {
  margin-top: 9rem;
  padding-top: 9rem;
  padding-bottom: 2rem;
  background-color: hsl(192, 100%, 9%);
  position: relative;
}

footer .get-started {
  margin: 0 auto;
  padding: 2rem;
  width: calc(100% - 2rem);
  max-width: 425px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px hsla(208.8, 10.9%, 55.1%, 0.44);
  text-align: center;
  z-index: 3;
}

.get-started .start__title {
  text-transform: capitalize;
  color: hsl(192, 100%, 9%);
}

.get-started .start--button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.get-started .start--button:hover {
  background-color: hsla(322.2, 100%, 66.1%, 0.66);
}

.get-started .start--button:active {
  transform: translate(1px, 1px);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
}

@media (min-width: 768px) {
  footer .container {
    justify-content: space-between;
    flex-direction: row;
  }
}

footer .container>div {
  width: 100%;
}

/* cont 1 */
@media (min-width: 768px) {
  footer .container .cont-1 {
    width: 25%;
  }
}

.cont-1 .cont__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
}

.cont-1 .cont__info {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.cont-1 .cont__img {
  margin-right: 1rem;
  width: auto;
  height: auto;
}

.cont-1 .cont__desc {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .cont-1 .cont__desc {
    font-size: 1rem;
  }
}

/* cont 2 */
footer .container .cont-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  footer .container .cont-2 {
    width: 30%;
    flex-direction: row;
  }
}

footer .container .cont-2 h3 {
  margin: 1rem 0;
  width: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  footer .container .cont-2 h3 {
    width: 50%;
    font-size: 1rem;
  }
}

/* cont 3 */
footer .container .cont-3 {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer .container .cont-3 {
    margin: 0;
    width: 25%;
  }
}
/* end footer */